[input-wrapper]{

    margin-bottom: 1.5em;

    &:focus-within::after{
        transform: scaleX(1);
    }

    label{

        border-left: 2px solid blue;
        padding-left: 1em;
        display: flex;
        flex-direction: column;
        span{
            display: inline-block;
            margin-bottom: .2em;
        }

        input{
            font-size: inherit;
            padding: .5em;
            border: 0;
            border-bottom: 1px solid blue;
            outline: 1px solid transparent;
        };

    }


   

position: relative;

&::after{


    content: "";
    position: absolute;
    bottom:0 ;
    left: 0;
    height: 5px;
    width: 100%;
    background-image:linear-gradient(to right,rgb(11, 11, 97),rgb(89, 69, 201));
transform: scaleX(0);
transition: 300ms;

transform-origin: left;

}
  
}