






<div class="forms-wrapper">


<button style="padding: 1em;margin-bottom: 1em; border-radius: 1em; border: 1px solid blue; cursor: pointer;">
  <span *ngIf="isConnected;else connexion"> inscris toi</span>
  
  
  <ng-template #connexion>

    <span> connecte toi</span>
  </ng-template>
  
  
  </button>

  <form > 

    <h2 form-title >Inscription</h2>
<app-input-wrapper [label]="'Nom'"><input name="nom " /></app-input-wrapper>
<app-input-wrapper [label]="'Prenom'"><input name="prenom "/></app-input-wrapper>
<app-input-wrapper [label]="'Email'"><input name="email" type="email"/></app-input-wrapper>
<app-input-wrapper [label]="'Telephone'"><input name="telephone" type="telephone"/></app-input-wrapper>
<app-input-wrapper [label]="'Code postal'"><input name="code_postal" type="text"/></app-input-wrapper>
<app-input-wrapper [label]="'Numero de rue'"><input name="numero_rue" type="number" min="1"/></app-input-wrapper>
<app-input-wrapper [label]="'Rue'"><input name="rue" type="text"/></app-input-wrapper>

  </form>




  

  <form ></form>
</div>