@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;

}
body
{
    font-family: 'Roboto Condensed', sans-serif;


    display: grid;
    place-items: center;
    min-height: 100vh;
    padding-block: 1em;

}
.forms-wrapper{
    max-width: 400px;
    width: 100vw;
    margin-inline: auto ;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(61, 63, 186);
    border-radius: 2em;
}

[form-title]{
    text-align: center;
    font-weight: 900;
    letter-spacing: .1em;
    font-size: 1.7em;
}


.forms-container{
    display: flex;
    width: 100%;
    overflow: hidden;
   form{
    width: 100%;
    flex-shrink: 0;

    transition: 400ms;

    &:nth-child(2){
        transform: translateX(100px);
    }
   }

   &.toggle{
    form:nth-child(1)  {
        transform: translateX(-120%);

    }

    form:nth-child(2) {
        transform: translateX(-100%);
    }

   }
}

.form-btn-toggle{
    padding: 1em;margin-bottom: 1em; border-radius: .5em; border: none; cursor: pointer;
    background:linear-gradient(45deg,blue,rgb(162, 136, 231));


    color: #fff;;
    font-size: 1.3em;
    // letter-spacing: ;
}





form button{
    width: 100%;
    padding: 1em;

    background-color: rgb(84, 71, 205);
    color: #fff;
    font-size: 1.2em;
    border: 0;
    cursor: pointer;
display: block;
box-shadow: 0px 10px 10px rgba(0, 0, 255, 0.267);
margin-bottom: 1em;
transition: 300ms;



&:hover{

    box-shadow: 0px 10px 10px rgba(16, 16, 152, 0.545);
}

}