@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;

}
body
{
    font-family: 'Roboto Condensed', sans-serif;


    display: grid;
    place-items: center;
    min-height: 100vh;

}
.forms-wrapper{
    max-width: 380px;
    width: 100%;
    margin-inline: auto ;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(61, 63, 186);
    border-radius: 2em;
}

[form-title]{
    text-align: center;
    font-weight: 900;
    letter-spacing: .1em;
}